---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Little Story About Petstellation"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Jun 05 2025')}
	heroImage="/About.jpg"
>
	<p>
		Petstellation was born from a deep love for animals, nature, and the stars above. We believe that creatures like 
        cats and dogs, though they may be small, carry the purest truths of the universe within them. Their warmth, their 
        kindness, and their way of loving are simple, honest, and timeless - unchanged by the chaos of the world.
	</p>

	<p>
		Sometimes we like to imagine that they come from magical places - Cat Planet, Dog Planet - sent to Earth to remind 
        us what love really means. Maybe they’re here to rescue us in their own gentle way. And maybe, just maybe, it’s our 
        turn to learn how to truly love them back.
	</p>

	<p>
		Petstellation is our way of giving back. With everything we create and share, we hope to honor the animals who bring 
        light to our lives - and connect with fellow souls who feel the same. Let’s care for them with the love they deserve.
	</p>
  
	<p>
		That’s why everything in this shop is made with heart. You’ll find:
	</p>

	<p>
    <span style="margin-right:0.4em;">•</span>
		Helpful checklists designed especially for new pet parents - covering daily, monthly, weekly and annual care; For experienced 
        pet parents, there is also planner sheet in the form of Canva template to allow you show off your skills based on our checklists.
	</p>

	<p>
   <span style="margin-right:0.4em;">•</span> 
		Quick health checklist for everyday use, so you can keep a loving eye on your pet’s well-being and notice small changes 
        before they become big ones.
	</p>

	<p>
    <span style="margin-right:0.4em;">•</span>
		And beautiful tailor-made party cards, vet check-up cards and thank you tags etc. for birthday use, crafted to help you 
        celebrate your furry friend’s special day - because they deserve to be seen, known, and cherished 
        every single year.
	</p>

	<p>
     <span style="margin-right:0.4em;">•</span>
		We also offer celestial and nature-inspired items that reflect the spirit of our animal companions - full of softness, 
        warmth, and wonder.
	</p>
	<p>
		For the Cat Beings, the Dog Beings, and all the gentle souls who walk beside us - this is our love letter to you.
	</p>
	<p>
		Let’s care for them with all the love they give us.
	</p>
</Layout>
