---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
 <!-- 品牌展示区 -->
  <section id="brand" style="text-align:center; margin-bottom:2rem;">
    <img src="/brand-logo.png" alt="Petstellation" style="max-width:400px; width:100%; display:block; margin:0 auto; border-radius:12px;" />
    <h1 style="color:#333333; font-weight:bold; font-size:2.5rem; margin:0;">
      Welcome to Petstellation!
    </h1>
    <p style="color:#888888; font-size:1rem; margin:0.5rem 0 0 0;">
      Welcome to our little corner of the universe - a cozy space for animal lovers and stargazers alike.
    </p>
  </section>

  <!-- 产品展示区 -->
			<section id="products">
  <ul>
    <li>
      <a href="https://lemon-squeezy.com/checkout/product_1">
        <img src="/product-1.png" alt="产品1" width="360" height="360" />
        <h4>产品1名称</h4>
      </a>
    </li>
    <li>
      <a href="https://lemon-squeezy.com/checkout/product_2">
        <img src="/product-2.png" alt="产品2" width="360" height="360" />
        <h4>产品2名称</h4>
      </a>
    </li>
     <li>
      <a href="https://lemon-squeezy.com/checkout/product_3">
        <img src="/product-3.png" alt="产品3" width="360" height="360" />
        <h4>产品3名称</h4>
      </a>
    </li>
 <li>
      <a href="https://lemon-squeezy.com/checkout/product_4">
        <img src="/product-4.png" alt="产品4" width="360" height="360" />
        <h4>产品4名称</h4>
      </a>
    </li>
 <li>
      <a href="https://lemon-squeezy.com/checkout/product_5">
        <img src="/product-5.png" alt="产品5" width="360" height="360" />
        <h4>产品5名称</h4>
      </a>
    </li>
 <li>
      <a href="https://lemon-squeezy.com/checkout/product_6">
        <img src="/product-6.png" alt="产品6" width="360" height="360" />
        <h4>产品6名称</h4>
      </a>
    </li>
  </ul>
</section>
		</main>
		<Footer />
	</body>
</html>
