---
import HeaderLink from './HeaderLink.astro';

---

<header>
	<nav>
		<h2><a href="/">
    <img src="/logo.png" alt="Petstellation" class="site-logo" />
  </a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
 <!-- YouTube -->
  <a href="https://www.youtube.com/@Petstellation" target="_blank">
    <span class="sr-only">Follow us on YouTube</span>
    <svg astro-icon="social/youtube" width="32" height="32" aria-hidden="true"></svg>
  </a>
  <!-- Instagram -->
  <a href="https://www.instagram.com/Petstellation2025/" target="_blank">
    <span class="sr-only">Follow us on Instagram</span>
    <svg astro-icon="social/instagram" width="32" height="32" aria-hidden="true"></svg>
  </a>
  <!-- Facebook -->
  <a href="https://www.facebook.com/petstellation" target="_blank">
    <span class="sr-only">Follow us on Facebook</span>
    <svg astro-icon="social/facebook" width="32" height="32" aria-hidden="true"></svg>
  </a>
      </div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
.site-logo {
  height: 69px;
  width: auto;
  display: block;
}
</style>
